@import url('https://fonts.googleapis.com/css2?family=Oxanium&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #125eaa;
    padding: 0.4rem 1rem;
}

/* ------------------------------------------- Homepage */

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container h1 {
    text-align: center;
}

#badge {
    width: 16%;
    height: auto;
    margin: 2rem;
}

.button {
    font-size: 2rem;
    padding: 1.6rem 0;
    width: 20rem;
    margin: 0.4rem 0;
    text-align: center;
    background-color: #125eaa;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    color: #FFF300;
    transition: 200ms;
    transform: scale(1.02);
    cursor: pointer;
}

/* ------------------------------------------- Quiz Page */

.head {
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

#score-display {
    margin: 2rem;
    text-align: center;
}

.score-text {
    font-size: 2.8rem;
    color: #125eaa;
    font-family: 'Oxanium', cursive;
}

#score {
    color: #125eaa;
    font-size: 6rem;
    font-family: 'Oxanium', cursive;
}

#question {
    text-align: center;
}

#option-container {
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    display: flex;
    font-size: 2rem;
    width: 28rem;
    margin: 0.4rem 0.8rem;
    text-align: center;
    background-color: #125eaa;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.option p {
    padding: 0.8rem;
}

.option-ltr {
    position: absolute;
}

.option-text {
    margin: 0 auto;
}

.option:hover {
    color: #FFF300;
    transition: 200ms;
    cursor: pointer;
}

#progress {
    margin-top: 2rem;
}

#progress h2 {
    font-size: 2.8rem;
    color: #125eaa;
    text-align: center;
    font-family: 'Oxanium', cursive;
}

#answer-feedback {
    font-size: 2.8rem;
    color: #FFF300;
    text-align: center;
    font-family: 'Oxanium', cursive;
    display: none;
}

/* Score Page */

#final-score {
    margin: 2rem 1rem 0 1rem;
}

#finish-quote {
    margin: 2rem 1rem;
    text-align: center;
    color: #125eaa;
    font-size: 2rem;
}

/* ------------------------------------------- Phone Screens */

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.4rem;
        margin: 2rem 1rem;
    }

    /* Home Screen */

    #badge {
        width: 40%;
        height: auto;
        margin: 0;
    }

    .button {
        font-size: 1.2rem;
        padding: 0.8rem 0;
        width: 14rem;
        margin: 0.4rem 0;
        text-align: center;
    }

    /* Quiz Page */

    .head {
        margin-top: 2rem;
    }

    #score-display {
        padding: 0;
        text-align: center;
    }
    
    .score-text {
        font-size: 1.8rem;
    }
    
    #score {
        font-size: 3rem;
    }

    #question {
        font-size: 2rem;
        margin: 1rem;
    }

    #option-container {
        max-width: 100%;
        padding: 0;
    }

    .option {
        display: flex;
        font-size: 1rem;
        width: 20rem;
    }

    #progress {
        margin-top: 1rem;
    }

    #progress h2 {
        font-size: 1.4rem;
    }

    #answer-feedback {
        font-size: 1.4rem;
    }
    
}

/* ------------------------------------------- Tablet Screens */

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3.6rem;
        margin: 0rem 1rem 1rem 1rem ;
    }

    /* Home Page */

    #badge {
        width: 30%;
        height: auto;
        margin: 2rem;
    }

    /* Quiz Page */

    .head {
        margin: 2rem 1rem 0 1rem;
    }

    .option {
        width: 32rem;
    }

    #progress {
        margin-top: 1rem;
    }

    #progress h2 {
        margin-bottom: 1rem;
    }

    /* Score Page */

    #finish-quote {
        font-size: 2.6rem;
    }
}